
body
{
	/*border: ridge 6px black;
	border-radius: 8px;
	box-shadow: 4px 4px 2px black;*/
	background-color: #000000;
	font-size: 20px;
	font-family: Serif;
	word-wrap: break-word ;
	overflow: auto ;
}


header
{
	border: solid 2px black;
	border-radius: 4px;
	padding: 10px;
	margin-top: 2px;
	margin-bottom: 8px;
	margin-right: 4px;
	margin-left: 4px;
	background-color: #919CFF;
}

.contenu
{
	display: inline-block;
	vertical-align: top;
	width: 70%;
	margin: 8px;
	background-color : #DD9531 ;
}


aside
{
	display: inline-block;
	width: 25%;
	vertical-align: top;
	margin: 8px;
	background-color : #BBBBDD ;
}


/*Main menu*/

nav ul
{
    display : inline-table;
    list-style : none ;
}

nav ul li
{
    display : inline-block ;
    color : #000C54 ;
    margin-left : 8px ;
    margin-top : 4px ;
    border : dotted black 2px ;
    border-radius : 5px ;
    padding : 4px ;
    /*position : absolute ;*/
}


nav ul ul
{
    display : none ;
    border : none ;
    position : absolute ;
    vertical-align : top ;
}

nav ul li:hover > ul /* show the sublist on hover */
{
    display : block ;
}

/**/
div
{
	border : simple 4 px black ;
	border-radius : 8px ;
	margin : 4px ;
	padding : 4px ;
	text-align : justify ;
}

section
{
	border: double 4px black;
	border-radius: 4px;
	padding: 15px;
	margin: 5px;
	text-align: justify;
	background-color: #B1BCFF;
}

#presentation
{
	background-color: #DDDDFF ;
}

article
{
	padding: 10px;
	margin: 5px;
}

footer
{
	vertical-align: bottom;
	border: solid 2px black;
	border-radius: 4px;
	padding: 10px;
	margin-top: 8px;
	margin-bottom: 2px;
	margin-right: 4px;
	margin-left: 4px;
	font-size: 15px;
	margin: 5px;
	background-color: #7E87DD;
}


footer li
{
	display: inline-block;
	margin-right: 16px;
}


.deepvoidBody
{
	background-image: url("images/deepvoidScreenTunnel.jpeg");
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.sousMenu1
{
	background-color: #BABEFF;
	padding: 4px;
	margin: 4px;
	border-radius: 4px;
}

.boiteArticles
{
	background-color: #BABEFF;
	border-radius: 4px;
	padding: 4px;
	margin: 4px;
}

.conteneurTitreJeux
{
	border: solid 2px black;
	border-radius: 4px;
	padding: 10px;
	margin: 5px;
	text-align: left;
	background-color: #FFAE35;
}


.publicité
{
	border: ridge black 2px;
	background-color: #FF8F26;
	padding: 4px;
}

.code
{
	font-family : monospace, sans-serif ;
	border : dotted 1px #323232 ;
	background-color : #bfd6d6 ;
	padding : 4px ;
	margin : 8px ;
	border-radius : 8px ;
}

article+article
{
	border-top: solid 2px black;
}

/*img {
   max-height : 90%;
   max-width : 90%;
   min-height: 45%;
   min-width: 45%;
}*/


li
{
	margin: 6px;
}
h1
{
	font-size: 40px;
	font-family: "Old English Text MT Normal", "Times New Roman", Serif;
	font-weight: bold;
	text-decoration: underline;
	color: #000C54;
}

h2
{
	font-size: 30px;
	font-weight: bold;
	text-decoration: underline;
	color: #000C54;
}

h3
{
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #000C54;
}

a
{
	color: #000C54;
	text-decoration: none;
}

a h1
{
	text-decoration: underline;
}

a:visited
{
	color: #000C54;
}

a:hover
{
	color: #E57B12;
}

.bandeauChantier
{
	background-image: url("img/chantier16x16.png") ;
	background-attachment: fixed;
	background-repeat: x-repeat;
	height: 32px ;
	width: 100% ;
	margin: 8px ;
	padding: 0px ;
	border: 1px simple black ;
	border-radius: 0px ;
}

'
strong
{
	color: #000C54;
}

barre
{
text-decoration : line-through ;
}
